%h2 Orders
%ul.nav.nav-pills
  %li
    = link_to "All Categories", categories_path
  %li
    = link_to "All Items", items_path
  %li.active
    = link_to "Orders", ''
  %li
    = link_to "New Category", new_category_path if can? :create, @category
  %li
    = link_to "New Item", new_item_path if can? :create, @item

%table.table.table-bordered.table-hover.table-striped
  %tr
    %th Order id
    %th Name
    %th Bill
    %th Status
    %th
  - @orders.each do |order|
    %tr
      %td= order.id
      %td= order.user.email
      %td= order.bill
      %td= order.status
      %td
        -if can? :update, order
          = link_to 'Confirmed', '' if order.status == "confirmed" 
          = link_to 'Confirm', confirm_order_path(order) if order.status == "pending" 