= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited
        this item from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name
    %br
      = f.text_field :name
  %p
    = f.label :price
    %br
      = f.text_field :price
  %p
    = f.label :category_id
    %br
      = f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select category")
  %p
    = f.submit