<div class="row">
  <%= link_to "Add New Item", new_item_path, class: "btn btn-info" if can? :create, @item %>
</div>

<h1>Listing Items</h1>
<h4><%= link_to "List all Categories", categories_path %></h4>
 
<table class="table">
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= "#{item.category.try(:name) || 'NA'}" %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= link_to "Show", item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) if can? :update, item %></td>
      <td><%= link_to 'Delete', item_path(item), method: :delete, confirm: "Are you sure?" if can? :destroy, item %></td>
      <td>
        <% if user_signed_in? %>
          <%= link_to "Add to cart", '', class: "btn btn-info" unless can? :create, item %>
        <%else%>
          <%= link_to "Add to cart", new_user_session_path , class: "btn btn-info" unless can? :create, item %>
        <%end%>
      </td>
    </tr>
  <% end %>
</table>