<div class="row">
  <% if can? :create, @item %>
    <%= link_to "Add New Item" , new_item_path , class: "btn btn-info" %>
  <% end %>
</div>

<h1>Listing Items</h1>
<h4><%= link_to "List all Categories" , categories_path %></h4>
 
<table class="table">
  <tr>
    <th>Item id</th>
    <th>Item Category</th>
    <th>Name</th>
    <th>Price</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Add</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= "#{item.category_id} - #{item.category.try(:name) || 'NA'}" %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td>
        <% if can? :update, item %>
          <%= link_to 'Edit', edit_item_path(item) %>
        <%else%>
          Can't update
        <% end %>
      </td>
      <td>
        <% if can? :destroy, item %>
          <%= link_to 'Delete', item_path(item) , method: :delete %>
        <%else%>
          Can't destroy
        <% end %>
      </td>
      <td><%= link_to "Add to cart" , "#"  , class: "btn btn-info" %></td>
    </tr>
  <% end %>
</table>