<h1>Listing Items</h1>
<h4><%= link_to "List all Items" , items_path %></h4>

<table class="table">
  <tr>
    <th>Item id</th>
    <th>Category Name</th>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
 
  <tr>
    <td><%= @item.id %></td>
    <td><%= @item.category.try(:name) || "No Name" %></td>
    <td><%= @item.name %></td>
    <td><%= @item.price %></td>
    <td>
      <% if can? :update, @item %>
        <%= link_to 'Edit', edit_item_path(@item) %>
      <%else%>
        Can't update
      <% end %>
    </td>
    <td>
      <% if can? :destroy, @item %>
        <%= link_to 'Delete', item_path(@item) , method: :delete %>
      <%else%>
        Can't destroy
      <% end %>
    </td>

  </tr> 
</table>