<div class="row">
  <% if can? :create, @category %>
    <%= link_to "Add New Category" , new_category_path , class: "btn btn-info" %>
  <% end %>
</div>
<h1>Listing Categories</h1>
<h4><%= link_to "List all Items" , items_path %></h4>
 
<table class="table">
  <tr>
    <th>Category id</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td>
        <%= link_to 'Edit', edit_category_path(category) if can? :update, category %>
      </td>
      <td>
        <%= link_to 'Delete', category_path(category) , method: :delete if can? :destroy, category %>
      </td>  
    </tr>
  <% end %>
</table>