%h2 Listing Categories
%ul.nav.nav-pills
  %li.active
    = link_to "All Categories", ''
  %li
    = link_to "Add New Category", new_category_path if can? :create, @category
  %li
    = link_to "All Items", items_path
  %li
    = link_to "All Orders", carts_path if can? :update, Category
%table.table.table-bordered.table-hover
  %tr
    %th Category id
    %th Name
    %th
    %th
  - @categories.each do |category|
    %tr
      %td= category.id
      %td= category.name
      %td
        = link_to 'Edit', edit_category_path(category) if can? :update, category
      %td
        = link_to 'Delete', category_path(category), method: :delete if can? :destroy, category