<h1>Listing Categories</h1>
<h4><%= link_to "List all Categories" , categories_path %></h4>
 
<table class="table">
  <tr>
    <th>Category id</th>
    <th>Name</th>
    <th>Show</th>
    <th>Delete</th>
  </tr>
 
  <tr>
    <td><%= @category.id %></td>
    <td><%= @category.name %></td>
    <td>
      <% if can? :update, @category %>
        <%= link_to 'Edit', edit_category_path(@category) %>
      <% else %>
        Can't edit
      <% end %>
    </td>
    <td>
      <% if can? :destroy, @category %>
        <%= link_to 'Delete', category_path(@category) , method: :delete %>
      <% else %>
        Can't edit
      <% end %>
    </td>  
  </tr>
</table>